/* Table.css */

.table-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #000000;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;

  }
  
  th {
    background-color: #f2f2f2;

  }
  
  td {
    background-color: #fff;

  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
  }
  